tr {    
    border: 1px solid black; 
}
td {
    border: 1px solid black;
    background-color: lightsteelblue;
    text-align: center;
}
thead {
    border: 1px solid black;
    background-color: grey;
}
th {
    border: 1px solid black;
    
}